:root {
  --danger-theme: {
    color: white;
    background-color: red;
  };
}

.HomePage{
  @apply --danger-theme;
  width: 80%;
  margin: 0 auto;
}

.HomePage__container{
  display: flex;
  flex-flow: row wrap;
  padding: 1em;
}